.app {
  height: 100vh;
  width: 100%;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 100%;
  margin: auto;
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
  }
}

.imgTest {
  width: 500px;
  height: 30rem;
  margin: auto;
}

.imgTest img {
  width: 100%;
  height: 100%;
}
