.gallery {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #c0c0c0;
}
.imgParent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.center-image {
  border-radius: 10px;
  /* object-fit: contain;
  object-position: center; */
  /* width: 100%; */
  height: 100%;
  margin: auto;
}

.dark-image {
  border-radius: 10px;
  width: 20rem;
  display: none;
}

.images img {
  margin: 0.5rem;
  border-radius: 10px;
  max-width: 4rem;
  background-color: #c0c0c0;
}

.clicked {
  border: solid 2px black;
  opacity: 3;
}
/* 
.leftArrow {
  position: absolute;
  top: 50%;
} */
/* .rightArrow {
  position: absolute;
  top: 50%;
} */

@media screen and (max-width: 800px) {
  .images {
    display: none;
  }

  .gallery {
    width: 100%;
  }

  .imgParent {
    width: 100%;
    /* position: relative; */
    height: 100%;
  }

  .mainImage img {
    max-height: 500px;
    border-radius: 0px;
  }

  .leftArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    border: none;
  }

  .rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
  }
}
